

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");
body {
    font-family: "Lato", sans-serif;
    background-color: #eeeeee;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav ul {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    padding-top: 10px;
    list-style: none;
    font-family: "Orbitron", sans-serif;
}

.sidenav ul a{
  text-decoration: none;
}
.sidenav ul li {
    padding-top: 30px;
}

.sidenav ul li:hover {
    color: #fff;
}

.sidenav ul li i {
    padding-right: 10px;
}

.sidenav ul li:nth-child(1) input {
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    width: 170px;
    margin: 10px auto;
    font-size: 16px;
}

.login {
    bottom: 0;
    position: absolute;
    margin-bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.login button {
    width: 150px;
    height: 50px;
    font-size: 15px;
    color: #fff;
    font-family: "Orbitron", sans-serif;
}

.login button.btn.btn-login {
    background-color: #1A5276;
    border-color: none;
    padding: 20px auto;
}

.login button.btn.btn-register {
    background-color: #818181;
}

.material-icons {
    font-size: 24px;
    padding-left: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 250px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    display: flex;
    
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}



.filter-container {
    background-color: red;
    width: 350px;
    margin-top: 10px;
}

header {
    background-color: #111;
    margin-left: 280px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 15px;
    height:280px;
    margin-right:15;
    margin-right: 10px;
}

.sidenav li li{
  font-size:16px;
}

.sidenav li ul{
  display: none;
  position:absolute;
}


.sidenav li:hover ul{
  display: block;
  left: 160px;
  background-color: #fff;
  z-index:0;
  top:250px;
  z-index: 4;
}
.sidenav li:hover ul li{
  cursor: pointer;
}

/* ------------Top bar -----------*/


/* ------End top bar ------*/


/* ----Card ----*/


/*------------------------------------------------------------------------------------------------*/
/*.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }*/
  
    .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    vertical-align: middle;
  }

  .grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 0 10px 10px 0;
    font-size: 30px;
    text-align: center;  
  }

  .align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media (max-width: 991px) {
    .grid-container {
      width: 345px;
    }
  }
  
  @media (max-width: 767px) {
    .grid-container {
      width: 290px;
      margin: 30px auto;
    }
  }

  .grid-item:hover .h-bg {
    left: 0px;
  }
  .grid-item:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  .grid-item:hover .add-to-cart {
    left: 50%;
  }

  .grid-item:hover .product-img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
  }

  .grid-item:hover .info-inner {
    bottom: 155px;
  }

  .grid-item:hover .description {
    -webkit-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    bottom: 50px;
    opacity: 1;
    font-size: 16px;
  }
  .grid-item .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }
  .grid-item .box-up {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.grid-item .product-img {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }

  .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: #3f96cd;
    position: absolute;
    left: -659px;
  }
  .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: #464646;
  }
  .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
  }
  .info-inner {
  display: block;
}
.info-inner  h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #252525;
  }


  .description {
    -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: -20px;
    font-family: 'PT Sans', sans-serif;
    color: #828282;
    opacity: 0;
  }

  .cart {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding:0%
  }

  .cart .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #252525;
  }

  .cart .add-to-cart {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .cart .add-to-cart .txt {
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    white-space: nowrap;
  }